@import "../../assets/variables.scss";

.card {
  border: 1px solid $grey001;
  border-radius: 4px;

  max-width: 295px;
  min-height: 79px;
}

.wrapper {
  display: flex;

  .checkbox {
    margin: 0px;
    float: right;
    padding: 31px 16px 28px 0px;
  }

  .text {
    width: 100%;
    margin: 16px 0px 16px 16px;

    :first-child {
      margin: 0px 0px 4px 0px;
    }

    :nth-child(2) {
      margin: 4px 0px 0px 0px;
    }
  }
}

.overlay {
  background-color: $grey002;
  opacity: 0.4;
}
